/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withLabel: git {
        conda = 'bioconda::git=2.52.0'
        container = 'docker.io/chainguard/git:sha256-678b89e6d2733d78450d6ff25c2953ee9421727584888f5c31e743b84361fe7b.att'
    }

    withLabel: vsearch {
        conda = 'bioconda::vsearch=2.30.4'
        container = 'biocontainers/vsearch:2.30.4--hd6d6fdc_0'
    }

    withLabel: dada2 {
        conda = 'bioconda::bioconductor-dada2=1.38.0 conda-forge::r-digest'
        container = 'biocontainers/bioconductor-dada2:1.38.0--r45ha27e39d_0'
    }

    withLabel: picrust2 {
        conda = 'bioconda::picrust2=2.6.3'
        container = 'biocontainers/picrust2:2.6.3--pyhdfd78af_2'
    }

    withLabel: phyloseq {
        conda = 'bioconda::bioconductor-phyloseq=1.54.0 r-phytools bioconda::bioconductor-biostrings r-dplyr r-ggplot2 r-tidyr r-forcats r-ggthemes bioconda::bioconductor-decontam'
        container = 'docker.io/barbarahelena/phyloseq:1.54.0'
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}/${task.process.tokenize(':')[-1].tokenize('_')[1].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withLabel: mafft {
        conda = 'bioconda::mafft=7.520'
        container  = 'biocontainers/mafft:7.520--hec16e2b_1'
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: SILVADATABASES {
        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PHYLOSEQ_DECONTAM' {
        publishDir = [
            path: { "${params.outdir}/phyloseq/decontam" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
