/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests without primer trimming
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Use as follows:
        nextflow run barbarahelena/vsearchpipeline -profile test_noprimers,docker --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile (no primers)'
    config_profile_description = 'Minimal test dataset to check pipeline function without primer trimming'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '8.GB'
    max_time   = '6.h'

    // Input data
    input   = "${projectDir}/assets/testdata/small/Samplesheet_noprimers.csv"

    // SILVA stub databases (subsetted to taxa present in testdata)
    silva_asv_db     = "${projectDir}/assets/testdata/small/SILVA_asv_db_test.fa.gz"
    silva_species_db = "${projectDir}/assets/testdata/small/SILVA_species_db_test.fa.gz"

    // Skip options
    skip_primers     = true
    skip_rarefaction = false
}

// Override high-CPU label for test runs
process {
    withLabel:process_highcpu {
        cpus   = 4
        memory = { 5.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }
    withLabel:process_multi_high {
            cpus   = 4
            memory = { 10.GB * task.attempt }
            time   = { 1.h  * task.attempt }
    }
}
