/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run barbarahelena/vsearchpipeline -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '8.GB'
    max_time   = '6.h'

    // Input data
    input   = "${projectDir}/assets/testdata/small/Samplesheet.csv"
    primers = "${projectDir}/assets/testdata/small/Primers.csv"

    // SILVA stub databases (subsetted to taxa present in testdata)
    silva_asv_db     = "${projectDir}/assets/testdata/small/SILVA_asv_db_test.fa.gz"
    silva_species_db = "${projectDir}/assets/testdata/small/SILVA_species_db_test.fa.gz"

    // Skip options
    skip_primers         = false
    skip_rarefaction     = false
}

// Override high-CPU label for test runs
process {
    withLabel:process_highcpu {
        cpus   = 4
        memory = { 5.GB * task.attempt }
        time   = { 2.h  * task.attempt }
    }
}